/* Список примеров */
.examples__list {
  @extend %list;

  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.examples__element {
  @media screen and (min-width: $tablet) {
    margin: 15px;
    flex-basis: calc((100% - 30px * 2) / 2);
  }

  @media screen and (min-width: $desktop) {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

.example__link {
  display: block;
  transition: box-shadow 250ms $bazier;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  transform: translateY(101%);

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms $bazier;

  .example__link:hover &,
  .example__link:focus & {
    transform: translateY(0);
  }
}

.overlay__text {
  margin: 0;

  padding: 77px 24px;

  @media screen and(min-width: $tablet) {
    padding: 49px 24px;
  }

  @media screen and(min-width: $desktop) {
    padding: 63px 24px;
  }

  color: $white-color;
  font-size: 18px;
  line-height: 1.56;
}

.example__text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;

  @media screen and (min-width: $tablet) {
    flex-grow: 1;
  }
}

.example__title {
  color: $primary-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0;
  padding: 0;
}

.example__type {
  color: $secondary-text-color;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  margin: 0;
  padding: 0;
  margin-top: 4px;
}
