.address {
  margin-top: 20px;
  font-style: inherit;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address__list {
  @extend %list;
}

.address__list,
.address__item:last-child {
  margin-top: 8px;
}

.address__text {
  color: $primary-bg-color;
}

.address__link {
  color: $footer-address-color;
  transition: color 250ms $bazier;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
