/* FOOTER */
.footer {
  background-color: $third-bg-color;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.container--footer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer-wraper {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
    display: flex;
    align-items: baseline;
  }
}
