$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$thumb-bg: rgba(33, 150, 243, 0.9);
$third-bg-color: #2f303a;
$white-color: #ffffff;
$black-logo: #000000;
$footer-address-color: rgba(255, 255, 255, 0.6);
$card-set-gap: 30px;
$network-bg-color: rgba(255, 255, 255, 0.1);
$clients-icon: #afb1b8;
$bazier: cubic-bezier(0.4, 0, 0.2, 1);
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
